.medias-media-wrapper {
  margin: 0 auto;
  width: 70%;
}

.medias-media {
  border: 1px solid var(--primary);
  border-radius: 3px;
  color: var(--gray);
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.medias-media article {
  padding: 10px 25px;
}

.medias-media aside {
  background: var(--primary);
  color: var(--light);
}

.medias-media aside p {
  display: inline-block;
  font-size: 14px;
  margin: 10px 25px;
  padding: 0;
  width: auto;
}

.medias-media aside span {
  font-weight: bold;
}

.medias-media aside button {
  background: none;
  border: none;
  color: var(--light);
  cursor: pointer;
  margin: 10px 25px;
  text-decoration: underline;
}

.medias-media aside button:hover {
  text-decoration: none;
}
